*.npy
*.csv
!wrist_stats/wrist_left_sensor_a.csv
!wrist_stats/wrist_left_sensor_b.csv
!wrist_stats/wrist_right_sensor_a.csv
!wrist_stats/wrist_right_sensor_b.csv
*.db
controls_filteredandtrimmed/
controls_alignedCoordinateSystem
.DS_Store
.pyre/
.pyre_configuration
.vscode/
.watchmanconfig
NPYViewer/
__pycache__/
control_reader.py
new_data.py