*.npy
*.csv
!wrist_stats/
*.db
controls_filteredandtrimmed/
controls_alignedCoordinateSystem
.DS_Store
.pyre/
.pyre_configuration
.vscode/
.watchmanconfig
NPYViewer/
__pycache__/
control_reader.py
new_data.py